PORT=5000
MONGO_URI=mongodb+srv://auwaluizziddin2212_db_user:9vL7KUhLGRmetasX@cluster0.nmc2mjo.mongodb.net/?appName=Cluster0
JWT_SECRET=parka_secret_key_change_in_production
AT_API_KEY=atsk_8a3f4fa4eb73c6316658259bb3f668692ba6521215c34e91741305520e505c343c3a79e8
AT_USERNAME=sandbox
AT_SENDER_ID=PARKA
AT_SHORTCODE=*123#
